<h3>you are on the rounds show page</h3>
<div class="question"><%= @card.question %></div>

<%= form_for([@round, @card.guesses]) do |f| %>

  <%= f.label :answer %>
  <%= f.text_field :answer %>

  <%= f.submit %>

<% end %>